# SM8750 / sun Qualcomm Wi-Fi recovery support.

on init
    chown root wifi /tmp
    chmod 0775 /tmp
    mkdir /tmp/recovery 0777 root root
    mkdir /tmp/recovery/sockets 0770 root wifi
    chown root wifi /tmp/recovery/sockets
    chmod 0770 /tmp/recovery/sockets
    mkdir /data/misc 0771 system system
    mkdir /data/misc/wifi 0771 wifi wifi
    mkdir /data/vendor 0771 system system
    mkdir /data/vendor/firmware 0771 system system
    mkdir /data/vendor/firmware/update 0771 system system
    mkdir /data/vendor/firmware/update/wlan 0771 system system

on early-boot
    write /sys/kernel/icnss/wlan_en_delay 1000
    write /sys/kernel/icnss/wpss_boot 1
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

on property:twrp.firmware.mounted=true
    chmod 0222 /sys/devices/platform/soc/b0000000.qcom,cnss-peach/fs_ready
    write /sys/devices/platform/soc/b0000000.qcom,cnss-peach/fs_ready 1
    insmod /vendor/lib/modules/qca_cld3_peach_v2.ko
    wait /sys/class/net/wlan0 15
    setprop twrp.wifi.driver.ready true

on property:twrp.wifi.driver.ready=true
    start wpa_supplicant

service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/system/etc/wifi/wpa_supplicant.conf
    class main
    user root
    group root wifi inet net_admin
    capabilities NET_ADMIN NET_RAW
    disabled
    seclabel u:r:recovery:s0

service dhcpcd /system/bin/dhcpcd wlan0 -B
    class main
    user root
    group root inet net_admin
    capabilities NET_ADMIN NET_RAW
    disabled
    oneshot
    seclabel u:r:recovery:s0
